@import url('https://fontsapi.zeoseven.com/69/main/result.css');

html,
body,
#app {
  font-size: 16px;
  font-family:
    'Noto Sans CJK', 'PingFang SC', 'Microsoft YaHei UI', 'Microsoft YaHei', 'Source Han Sans SC',
    'Hiragino Sans GB', 'Heiti SC', 'Segoe UI', system-ui, sans-serif;
  font-weight: normal;
  line-height: normal;
}
